[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==3.13.0"
slack-sdk = "*"
chromedriver-binary = "==102.0.5005.61"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
